html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

* {
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /*width: 100vw;*/
    padding: 0px;
}


.logobox {
    padding-left: 10px;
}

.page-header {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.80);
    height: 100px;
    padding: 10px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-iconsbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-info {
    display: flex;
    justify-content: space-between;
}

.nav-info a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
}


.nav-info a:hover {
    color: rgb(255, 230, 0);
}

#home {
    padding-right: 20px;
}

#shop {
    padding-right: 20px;
}

.iconsbox {
    padding-right: 13px;
    padding-left: 12px;
    position: relative;
}

#accountp {
    padding-left: 5px;
    padding-right: 2px;
}

#basketp2 {
    padding-left: 2px;
    padding-right: 0px;
}

.vrVideo {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.page-main {
    flex-grow: 11;
    flex-basis: 100%;
    align-items: center;
    margin: 30px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}



.content-box1 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-bottom: 10px;
}

#Text-Minimal-title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0px;
}

#Text-Minimal-content {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.content-box2 {
    height: 400px;
    max-width: 350px;
    color: #ffffff;
    text-align: center;
    padding: 10px 25px;
    border-radius: 20px;
    z-index: 1;
    align-items: center;
    margin: 10px;
    border: 1px solid rgba(85, 85, 85, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}


#laptop-title {
    color: #FFE600;
    font-size: 17px;
    text-align: left;
}

#laptop-text {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}


#ShopHere {
    font-size: 17px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border: none;
    transition-duration: 0.5s;
    cursor: pointer;
}

#ShopHere:hover {
    background-color: #FFE600;
}

.page-footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.80);
    border: 0px;
    z-index: 0;
    margin-top: auto;
}

.footer-logo-copyrights {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

#copyrights,
#us,
#contact,
#email,
#call {
    color: #ffffff;
    font-size: 14px;
}


.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.follow-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

#email,
#call {
    margin: 0px;
}

/* PAGE ABOUT........................................................ */

.containerAbout {
    padding: 0px;
    background-image: url(../img/pexels02.jpg);
    background-size: cover;
    background-position: center;
}

.page-main-about {
    display: flex;
    align-items: center;
}


.contentAbout-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-right: 700px;
    margin-top: 154px;
    margin-bottom: 154px;
}


.contentAbout-box {
    color: rgb(255, 255, 255);
}

.contentAbout-box>#Text-Minimal-title-About {
    font-size: 60px;
}

.contentAbout-box>#Text-Minimal-content-About {
    font-size: 17px;
}


/* PAGE SHOP .............................................................*/
.containerShop {

    padding: 0px;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.page-main-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.secondNavBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: rgba(0, 0, 0, 0.80);
    height: 50px;

}

.shop-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop-box>p {
    margin-top: 2px;
}


/**
*! shop itens are here 
**/
.shop {
    padding: 0px;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(47, 46, 46);
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    width: 900px;
    gap: 20px;
}

.ditails>h2 {
    margin: 0px;
}

.ditails>p {
    margin-top: 7px;
}

.price-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(47, 46, 46);
    color: white;
    font-size: 20px;
}

/* PAGE CART ............................................................. */

.cartBodyContainer {
    background-color: rgb(0, 0, 0);
}

#cart-Title {
    display: flex;
    justify-content: center;
    color: white;
}



#cartSpan {
    background-color: #FFE600;
    color: black;
    position: absolute;
    top: -9px;
    right: 0px;
    padding: 2px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

/* style rules for label and button*/
.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn{
    font-size: 17px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    transition-duration: 0.5s;
    cursor: pointer;
 }

 .HomeBtn:hover{
    background-color: #FFE600;
 }

 .bi-trash3{ 
    color: #FFE600;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

/* style rules for shopping-cart*/
.shopping-cart{ 
    display: grid;
    grid-template-columns: repeat(1, 850px);
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

/* style rules for cart item*/
.cart-item{ 
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(47, 46, 46);
    color: white;
    gap: 10px;
}

.cart-img-item{ display: flex;
    align-items: center;
   
}

.title-price-x{ 
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 2px solid red;*/
}
.title-price{ 
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price{ 
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
}


.btn-cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(47, 46, 46);
}

.totalBillText{ color: white;}
.HomeBtn, 
.checkout,
.removeAll {
    font-size: 17px;
    font-weight: bold;
    background-color: #000000;
    border-radius: 20px;
    padding: 10px 30px;
    /*border:  2px solid black;*/
    transition-duration: 0.5s;
    cursor: pointer;
    color: white;
 }

 .HomeBtn:hover{
    background-color: #FFE600;
    border: none;
 }

 .checkout:hover{
    background-color: #FFE600;
    color: black;
    border: none;
 }

 .removeAll:hover {
    background-color: #b4b4b4;
    border: none;
 }

 .details{  display: flex;
    align-items: center;
    gap: 10px;
}

 .bi{ cursor: pointer;} 

 .itemSub,.quantityItem{ display: flex;
    align-items: center;
    gap: 10px;
} 

.itemPrice{ color:#FFE600;}